.btn_type_close {
  position: absolute;
  top: -36px;
  right: 0;

  border: none;
}

.btn_type_close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 515px) {
  .btn_type_close {
    right: -40px;
  }
}
