.btn_add {
  width: 282px;
  height: 50px;

  margin: 33px auto 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.btn_add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn_add {
    width: 150px;

    margin: 0;
  }
}
